.wrapper {
	display: flex;
	max-width: 1200px;
	/*margin: 0 auto;*/
}
.header-wrapper {
	display: flex;
	align-items: center;
	padding: 25px;
}

.header-img {
	max-width: 200px; 
	margin: 0px 50px 10px 0px;
}
header {
	border-bottom: 1px solid #000;
}
.menu-list {
	display: flex;
	list-style: none;
}

.header-menu 

.work-exp {
	/*display: flex;*/
}
.work-dates {
	/*margin-right: 20px;*/
}
.table-dates {
	margin-right: 20px;
}
form {
	max-width: 200px;
/*	display: flex;
	flex-directions: column;*/
}
label {
	margin-bottom: 10px;
}